{% extends 'global/Page.html' %}
{% load otree %}

{% block title %}
    Инструкции
{% endblock %}

{% block content %}
<p>Добро пожаловать в игру "Списывание"! </p>
<p>Вы сыграете несколько раундов с другим игроком.</p>
<p>Один из вас будет назначен "дающим списывать" (он решает, разрешить ли списывание), а другой - "списывающим".</p>
<p>Если "дающий списывать" выбирает не разрешать списывание, оба игрока получают свои начальные очки: "дающий списывать" получает {{ C.endowment_giver }}, а "списывающий" получает {{ C.endowment_receiver }}.</p>
<p>Если "дающий списывать" выбирает разрешить списывание, "списывающий" выбирает уровень усилий от 0 до 100.</p>
<p>С вероятностью усилие/100 "списывающий" не будет пойман. Если его не поймали, "дающий списывать" получает 12, а "списывающий" получает  60 - 0.45 * 100.</p>
<p>Если "списывающего" поймали, оба игрока получают 0 очков, а "дающий списывать" узнаёт, сколько усилий вложил "списывающий".</p>

{% next_button %}
{% endblock %}