{% extends 'global/Page.html' %}
{% load otree %}

{% block title %}
Результаты раунда
{% endblock %}

{% block content %}
<p>Ваша роль: {{ role }}</p>
<p>Разрешено списывание: {{ giver_choice }}</p>
{% if role == 'Списывающий' and giver_choice %}
    <p>Ваши усилия: {{ receiver_effort }}</p>
    {% if caught %}
        <p>Вас поймали!</p>
    {% endif %}
{% endif %}
{% if role == 'Дающий списывать' and giver_choice and caught%}
    <p>Вас поймали!</p>
    <p>Усилия другого игрока: {{ receiver_effort }}</p>
{% endif %}
<p>Выигрыш в этом раунде: {{ round_payoff }}</p>

{% next_button %}
{% endblock %}
